body {
color: white;
background: black;
font-family: "Satisfy", cursive;
margin-bottom: 100px;
}

header{
    border-bottom: solid 2px rgb(111,112,127);
    padding: 20px;
    font-size: 32px;
    color: rgb(111,112,127);
}

.chamada{
    background: rgb(183,95,96);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}


.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px

}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid rgb(111,112,127);
}

.categoria h2{
    color: rgb(111,112,127);
}